.huoyun-dialog-container.ngdialog .ngdialog-content {
  background: transparent !important;
  padding: 0 !important;
}

.huoyun-dialog-content-container.box>.box-body {
  min-height: 100px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

.huoyun-dialog-content-container.box>.box-footer .btn {
  margin-left: 15px;
  min-width: 80px;
}