<div class="search-form-number-dialog" ng-controller="SearchFormNumberDialog">
  <div class="box-body">
    <div class="form-group">
      <label for="rule">规则</label>
      <select id="rule" class="form-control" ng-model="condition.op" ng-options="cond.name as cond.label for cond in conditions">
      </select>
    </div>
    <div class="form-group" ng-if="condition.op !== 'between'">
      <label for="value">值</label>
      <input id="value" class="form-control" type="number" ng-model="$parent.condition.value">
    </div>
    <div class="form-group" ng-if="condition.op === 'between'">
      <label for="from">从</label>
      <input id="from" class="form-control" type="number" ng-model="$parent.condition.left">
    </div>
    <div class="form-group" ng-if="condition.op === 'between'">
      <label for="to">到</label>
      <input id="to" class="form-control" type="number" ng-model="$parent.condition.right">
    </div>
  </div>
</div>