<div class="widgets-breadcrumb" ng-class="options.appendClass()" control-name="{{options.getControlName()}}">
  <ol class="breadcrumb">
    <li ng-repeat="$item in options.getItems()" name="{{$item.getName()}}" ng-if="$item.isVisibility()" ng-click="$item.onClick()" ng-style="$item.getStyle()" ng-class="$item.appendClass()" ng-disabled="$item.isDisabled()">
      <i class="fa" ng-class="$item.getIcon()" aria-hidden="true"></i>
      <span ng-bind="$item.getText()"></span>
    </li>
  </ol>
</div>