<div class="widgets-side-bar-panel">
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="treeview" ng-repeat="menu in options.getMenus()" ng-if="menu.isVisibility()" ng-class="menu.getAppendClass()">
          <a ng-click="menu.onClick()">
            <i class="fa" ng-class="menu.getIcon()"></i> <span ng-bind="menu.getLabel()"></span>
            <span class="pull-right-container" ng-if="options.getMenus().length !== 0">
                <i class="fa fa-angle-left pull-right"></i>
             </span>
            <div class="tri-angle" ng-if="options.getMenus().length !== 0"></div>
          </a>
          <ul class="treeview-menu">
            <li ng-repeat="menuitem in menu.getItems()" ng-if="menuitem.isVisibility()">
              <a ng-click="menuitem.onClick()">
                <i class="fa" ng-class="menuitem.getIcon()"></i>
                <span ng-bind="menuitem.getLabel()"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
</div>