<div class="widgets-search-form-data-list-dialog" ng-controller="SearchFormDataListController">
  <div class="input-group search-box" ng-if="searchVisibility()">
    <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
    <input class="form-control" type="text" ng-model="$parent.searchText" ng-change="onSearchTextChanged()">
    <span class="input-group-addon search-box-remove-icon" ng-show="searchText" ng-click="onSearchTextCleared()"><i class="fa fa-remove" aria-hidden="true"></i></span>
  </div>
  <div class="item-template">
    <div widgets-check-box options="selectedAllOption"></div>
  </div>
  <div class="item-template" ng-repeat="dataItem in dataSource">
    <div widgets-check-box options="dataItem.checkboxOption"></div>
  </div>
  <div class="item-template load-more" ng-click="loadMore()" ng-if="loadVisibility()">
    <div>加载更多...</div>
  </div>
</div>