<div class="box widgets-form" form-readonly="{{options.isReadonly()}}">
  <div class="box-header" ng-if="options.getHeader().isVisibility()">
    <h3 class="box-title" ng-bind="options.getHeader().getTitle()"></h3>
    <div class="box-tools pull-right">
      <div class="input-group input-group-sm">
        <div widgets-button options="button" ng-repeat="button in options.getHeader().getButtons()"></div>
      </div>
    </div>
  </div>
  <form ng-class="options.appendOrientationClass()">
    <div class="box-body" ng-if="!options.isReadonly()">
      <div ng-repeat="$formGroup in options.getGroups()" prop-name="{{$formGroup.getName()}}" prop-type="{{$formGroup.getType()}}" ng-if="$formGroup.isVisibility()">
        <div ng-if="$formGroup.isCustomizeTemplate()">
          <div ng-include="$formGroup.getTemplateUrl()"></div>
        </div>

        <div ng-if="!$formGroup.isCustomizeTemplate()">
          <div widgets-form-group options="$formGroup" ng-model="options.$$data[$formGroup.getName()]"></div>
        </div>
      </div>
    </div>
    <div class="box-footer" ng-if="options.isFooterVisibility()">
      <div widgets-button options="button" ng-repeat="button in options.getFooter().getButtons()"></div>
    </div>
  </form>
</div>