<div class="widgets-table">
  <table class="table" ng-class="options.appendClass()">
    <thead ng-if="options.getHeader().isVisibility()" ng-style="options.getHeader().getStyle()">
      <tr>
        <th ng-repeat="$column in options.getHeader().getColumns()" column-name="{{$column.getName()}}" ng-style="$column.getStyle()" ng-bind="$column.getHeaderText()" widgets-draggable drag-data="$column" drag-success="options.onColumnDragSuccess($event,$column)"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="$row in options.getItems()" data-selected="{{$row.isSelected()}}" ng-click="options.onItemClicked($row)">
        <td ng-repeat="$column in options.getHeader().getColumns()">
          <div ng-bind="$column.getColumnValue($row)"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>