.widgets-time-picker {
  height: 300px;
  width: 320px;
  border: 1px solid #d2d6de;
  padding: 5px;
  background: white;
  position: relative;
}

.widgets-time-picker::before,
.widgets-time-picker::after {
  display: table;
  content: " ";
}

.widgets-time-picker .widgets-time-picker-container {
  position: absolute;
  top: 5px;
  bottom: 50px;
  left: 5px;
  right: 5px;
}

.widgets-time-picker .widgets-time-picker-footer {
  position: absolute;
  bottom: 5px;
  height: 40px;
  left: 5px;
  right: 5px;
}

.widgets-time-picker .widgets-time-picker-footer .btn {
  min-width: 70px;
  float: right;
}

.widgets-time-picker .widgets-time-picker-item-conatiner {
  width: 33.3333%;
  height: 100%;
  float: left;
  padding: 0 10px;
}

.widgets-time-picker .widgets-time-picker-item {
  padding: 0 2px;
  height: 100%;
  position: relative;
}

.widgets-time-picker .widgets-time-picker-item .widgets-time-picker-item-list {
  position: absolute;
  top: 65px;
  bottom: 35px;
  width: 100%;
  overflow-y: scroll;
}

.widgets-time-picker .widgets-time-picker-item .widgets-slide-selector-container {
  position: absolute;
  top: 35px;
  bottom: 0px;
  width: 100%;
}

.widgets-time-picker .widgets-time-picker-item .widgets-time-picker-item-label {
  position: absolute;
  height: 30px;
  text-align: center;
  line-height: 30px;
  width: 100%;
}