.widgets-time-picker {
  height: 300px;
  width: 320px;
  border: 1px solid #d2d6de;
  padding: 5px;
  background: white;
  position: relative;
}

.widgets-time-picker::before,
.widgets-time-picker::after {
  display: table;
  content: " ";
}

.widgets-time-picker .widgets-time-picker-container {
  position: absolute;
  top: 5px;
  bottom: 50px;
  left: 5px;
  right: 5px;
}

.widgets-time-picker .widgets-time-picker-footer {
  position: absolute;
  bottom: 5px;
  height: 40px;
  left: 5px;
  right: 5px;
}

.widgets-time-picker .widgets-time-picker-footer .btn {
  min-width: 70px;
  float: right;
}

.widgets-time-picker .widgets-time-picker-item {
  width: 33.3333%;
  padding: 0 2px;
  height: 100%;
  float: left;
  position: relative;
}

.widgets-time-picker .widgets-time-picker-item .widgets-time-picker-item-list {
  position: absolute;
  top: 65px;
  bottom: 35px;
  width: 100%;
  overflow-y: scroll;
}

.widgets-time-picker .widgets-time-picker-item .widgets-slide-selector {
  position: absolute;
  top: 65px;
  bottom: 35px;
  width: 100%;
}

.widgets-time-picker .widgets-time-picker-item .widgets-time-picker-item-list::-webkit-scrollbar {
  display: none;
}

.widgets-time-picker .widgets-time-picker-item .widgets-time-picker-item-list .list-item {
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin: 5px 2px;
}

.widgets-time-picker .widgets-time-picker-item .selected-box {
  position: absolute;
  height: 30px;
  line-height: 30px;
  border: 2px solid #367fa9;
  top: 140px;
  left: 2px;
  right: -2px;
}

.widgets-time-picker .widgets-time-picker-item .widgets-time-picker-item-list:hover .list-item {
  background: #d2d6de;
}

.widgets-time-picker .widgets-time-picker-item .widgets-time-picker-item-label {
  position: absolute;
  height: 30px;
  text-align: center;
  line-height: 30px;
  width: 100%;
}

.widgets-time-picker .widgets-time-picker-item .arrow-button {
  position: absolute;
  height: 30px;
  text-align: center;
  line-height: 30px;
  width: 100%;
  cursor: pointer;
}

.widgets-time-picker .widgets-time-picker-item .arrow-button:hover {
  background: #d2d6de;
}

.widgets-time-picker .widgets-time-picker-item .arrow-button .fa {
  line-height: 30px;
}

.widgets-time-picker .widgets-time-picker-item .arrow-up-button {
  top: 40px;
}

.widgets-time-picker .widgets-time-picker-item .arrow-down-button {
  bottom: 0px;
}