.widgets-json-model-view .json-property-field {
  min-height: 25px;
  line-height: 25px;
}

.widgets-json-model-view .json-format-error {
  color: red;
}

.widgets-json-model-view .object-name {
  cursor: pointer;
}

.widgets-json-model-view .toggle-icon {
  margin-right: 5px;
}

.widgets-json-model-view .json-property-field .toggle-icon i {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.widgets-json-model-view .object-name .prop-name {
  font-style: italic;
  color: #808484;
}

.widgets-json-model-view .prop-key-container {
  position: relative;
  height: 25px;
}

.widgets-json-model-view .json-property-field i {
  color: red;
  line-height: inherit;
  font-size: 70%;
}

.widgets-json-model-view .json-property-field .prop-keys-info {
  position: absolute;
}

.widgets-json-model-view .json-property-field .prop-container {
  position: absolute;
  left: 15px;
}

.widgets-json-model-view .json-property-field .prop-type {
  margin-left: 5px;
}

.widgets-json-model-view .json-property-field code {
  font-size: 70%;
}

.widgets-json-model-view .field-margin-left {
  margin-left: 25px;
}

.widgets-json-model-view .json-enum-field {
  margin-right: 10px;
}

.widgets-json-model-view .json-array-field code,
.widgets-json-model-view .json-enum-field code {
  color: inherit;
  background-color: #e6e6e6;
}