.widgets-video-progress-bar {
  position: relative;
}

.widgets-video-progress-bar .progress-bar {
  -webkit-transition: width .0s ease;
  -o-transition: width .0s ease;
  transition: width .0s ease;
}

.widgets-video-progress-bar .progress {
  cursor: pointer;
}

.widgets-video-progress-bar[drag="true"] .progress,
.widgets-video-progress-bar .progress:hover {
  height: 10px;
}

.widgets-video-progress-bar .sr-only {
  clip: initial;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin: -5px 0px 0px -5px;
}

.widgets-video-progress-bar[drag="true"] .progress .sr-only,
.widgets-video-progress-bar .progress:hover .sr-only {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  margin: -5px 0px 0px -8px;
}

.widgets-video-progress-bar .sr-only-inner {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 1px;
}

.widgets-video-progress-bar[drag="true"] .progress .sr-only-inner,
.widgets-video-progress-bar .progress:hover .sr-only-inner {
  width: 16px;
  height: 16px;
  border-radius: 16px;
}