<div class="widgets-video-control-bar">
  <div widgets-video-progress-bar video="video"></div>
  <div class="widgets-video-control-bar-panel">
    <button class="btn" ng-click="onPlayButtonClicked()" ng-disabled="playButtonDisabled()" ng-show="playButtonVisibility()">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>播放</span>
    </button>
    <button class="btn" ng-click="onPauseButtonClicked()" ng-disabled="pauseButtonDisabled()" ng-show="!playButtonVisibility()">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>暂停</span>
    </button>
    <button class="btn" ng-click="onFastBackwardButtonClicked()">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>快退</span>
    </button>
    <button class="btn" ng-click="onFastForwardButtonClicked()">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>快进</span>
    </button>
    <button class="btn" ng-click="onRateButtonClicked(1)" ng-disabled="onRateButtonDisabled(1)">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>正常速率</span>
    </button>
    <button class="btn" ng-click="onRateButtonClicked(2)" ng-disabled="onRateButtonDisabled(2)">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>2倍速率</span>
    </button>
    <button class="btn" ng-click="onRateButtonClicked(4)" ng-disabled="onRateButtonDisabled(4)">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>4倍速率</span>
    </button>
    <button class="btn" ng-click="onRateButtonClicked(8)" ng-disabled="onRateButtonDisabled(8)">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>8倍速率</span>
    </button>
    <button class="btn" ng-click="onPerviousFrameButtonClicked()">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>上一帧</span>
    </button>
    <button class="btn" ng-click="onNextFrameButtonClicked()">
      <i class="fa" aria-hidden="true" ng-class="button.icon"></i>
      <span>下一帧</span>
    </button>

    <div class="pull-right">
      <span class="marign-right-100" ng-bind="getTimeInfo()"></span>
      <span ng-bind="getFrameInfo()"></span>
    </div>
  </div>

</div>