<div class="box widgets-video-player">
  <div class="box-header">
    <h3 class="box-title">
      <i class="fa fa-server" aria-hidden="true"></i>
      <span ng-bind="options.title"></span>
    </h3>
    <div class="box-tools">
      <div class="input-group input-group-sm">
        <button class="btn" ng-repeat="button in options.buttons" ng-show="buttonVisibility(button)" ng-click="onButtonClicked(button)" ng-style="buttonStyle(button)" ng-class="buttonClass(button)" ng-disabled="buttonDisabled(button)">
            <i ng-show="button.icon" class="fa" aria-hidden="true" ng-class="button.icon"></i>
            <span ng-bind="button.label"></span>
          </button>
      </div>
    </div>
  </div>
  <div class="box-body no-padding" widgets-story-board svg-options="svgOptions" frame-index="video.currentFrame">
    <video preload="metadata">
      <source type="video/mp4"  ng-src="{{src}}">
    </video>
  </div>
  <div class="box-footer clearfix">
    <div widgets-video-control-bar video="video"></div>
  </div>
</div>