<div class="form-group widgets-form-group" mandatory="{{options.isMandatory()}}" ng-class="options.appendClass()" has-error="{{options.hasError}}">

  <div ng-if="options.hasLabelControl()">
    <div ng-if="options.getLabelControl().isCustomizeTemplate()">
      <div ng-include="options.getLabelControl().getTemplateUrl()"></div>
    </div>
    <div ng-if="!options.getLabelControl().isCustomizeTemplate()">
      <label for="{{options.getName()}}" class="control-label" ng-bind="options.getLabelControl().getText()" ng-class="options.getLabelControl().appendClass()"></label>
    </div>
  </div>

  <div ng-if="options.hasInputControl()">
    <div ng-if="options.getInputControl().isCustomizeTemplate()">
      <div ng-include="options.getInputControl().getTemplateUrl()"></div>
    </div>
    <div ng-if="!options.getInputControl().isCustomizeTemplate()" ng-switch="options.getType()">
      <div ng-switch-when="DATALIST" widgets-form-group-data-list options="options.getInputControl().getInputOptions()" ng-model="options.name"></div>
      <div ng-switch-when="DROPDOWN" widgets-dropdown options="options.getInputControl().getInputOptions()" ng-model="options.name"></div>
      <div ng-switch-when="EMAIL" widgets-email-box options="options.getInputControl().getInputOptions()" ng-model="options.name"></div>
      <div ng-switch-default widgets-text-box options="options.getInputControl().getInputOptions()" ng-model="options.name"></div>
      <span class="help-block" ng-bind="options.errorMessage"></span>
    </div>
  </div>
</div>