<div class="form-group widgets-form-group-data-list" mandatory="{{options.mandatory}}" ng-class="options.appendClass" has-error="{{options.hasError}}">
  <label for="{{options.name}}" class="control-label" ng-bind="options.label" ng-class="options.$$appendLabelClass()"></label>

  <div ng-if="!options.$$readonly()" ng-class="options.$$appendControlClass()">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-link"></i></span>
      <input type="email" class="form-control" id="{{options.name}}" readonly placeholder="{{options.placeholder}}" ng-value="$parent.$$getValueExpr()"
        ng-disabled="options.$$disabled()">
    </div>
    <span class="help-block" ng-bind="options.errorMessage"></span>
  </div>
  <div ng-if="options.$$readonly()" ng-class="options.$$appendControlClass()">
    <div class="form-control" ng-bind="$parent.value" readonly></div>
  </div>
</div>