.widgets-slide-selector {
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.widgets-slide-selector::-webkit-scrollbar {
  display: none;
}

.widgets-slide-selector .selector-item {
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #cccccc;
  margin-bottom: 2px;
}

.widgets-slide-selector .selector-item[data-selected="true"] {
  border: 2px solid #367fa9;
  background: #367fa9;
  color: white;
}