.box .box-header .box-title {
  font-weight: normal;
  font-size: 14px;
  color: #676767;
}

.box .box-header .box-tools .input-group .btn {
  padding: 4px 15px;
  margin-left: 10px;
  font-size: 12px;
}

.marign-right-100 {
  margin-right: 100px;
}

.marign-right-10 {
  margin-right: 10px;
}

.huoyun-margin-left-10 {
  margin-left: 10px;
}

.huoyun-margin-right-10 {
  margin-right: 10px;
}